.TelaRegistro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

  .Image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    height:100%;
    width: 21em;
  }


.Row_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: auto 27% auto;
  grid-template-rows: auto;
  margin-right: 39%;
  margin-left: 34%;
  min-height: 100px;
  margin-top: 50px;
}


.Campo {
  background-color: #ffffff;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.TelaLogin_1 .Row_2 {
  display: grid;
  grid-template-columns: auto 23% auto;
  grid-template-rows: auto;
  margin-right: 41%;
  margin-left: 33%;
  min-height: 68px;
  margin-top: 62px;
  margin-bottom: 86px;
}


.TelaLogin_1 .Bt_Cancelar {
  background-color: #33333b;
  color: #ffffff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #333333;
  border-radius: 3px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}


.TelaLogin_1 .Bt_Cadastrar {
  background-color: #33333b;
  color: #ffffff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #333333;
  border-radius: 3px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}