body {
  margin:0px;
  font-family:'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
}

div {
  margin:0px;
}

.TelaLogin {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.TelaLogin .Row_1 {
  display: grid;
  grid-template-columns: 0% 23% auto 11% 0%;
  grid-template-rows: auto 10% 10%;
  margin-right: 39%;
  margin-left: 33%;
  min-height: 310px;
  margin-top: 0px;
}


.TelaLogin .Image {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  height:100%;
  width:100%;
}


.TelaLogin .Label {
  color: #000000;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}


.TelaLogin .Label_1 {
  color: #189634;
  text-align: left;
  font-family: Impact, " Charcoal", " sans-serif";
  font-size: 30px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}


.TelaLogin .Label_3 {
  color: #000000;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1;
  margin-right: 59%;
  margin-left: 32%;
  min-height: 18px;
  margin-top: 41px;
}


.TelaLogin .Campo_Email {
  background-color: #ffffff;
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 5px;
  margin-right: 39%;
  margin-left: 33%;
  min-height: 34px;
  margin-top: 17px;
}


.TelaLogin .Label_4 {
  color: #000000;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1;
  margin-right: 59%;
  margin-left: 32%;
  min-height: 18px;
  margin-top: 12px;
}


.TelaLogin .Campo_Password {
  background-color: #ffffff;
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 5px;
  margin-right: 39%;
  margin-left: 33%;
  min-height: 32px;
  margin-top: 16px;
}


.TelaLogin .Row_2 {
  display: grid;
  grid-template-columns: auto 27% auto;
  grid-template-rows: auto;
  margin-right: 39%;
  margin-left: 34%;
  min-height: 68px;
  margin-top: 50px;
  margin-bottom: 80px;
}


.TelaLogin .Bt_Inscrever {
  background-color: #33333b;
  color: #ffffff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #333333;
  border-radius: 3px;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}


.TelaLogin .Bt_Entrar {
  background-color: #33333b;
  color: #ffffff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #333333;
  border-radius: 3px;
  cursor: pointer;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}