body {
  margin:0px;
  font-family:'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
}

div {
  margin:0px;
}

.Tela_de_compra {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.Tela_de_compra .Row_3 {
  display: grid;
  grid-template-columns: 4% 24% 1% 1% 2% 11% auto 3% 4% 0% 4% 3% 1%;
  grid-template-rows: 6% 4% 10% 4% 11% 14% auto 2% 1% 11% 4%;
  margin-right: 0%;
  margin-left: 0%;
  min-height: 284px;
  margin-top: 0px;
}


.Tela_de_compra .Image_5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 9;
  height:100%;
  width:100%;
}


.Tela_de_compra .Hamburger_Menu_1 {
  background-color: #ffffff;
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 8px 15px 8px 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 11;
}


.Tela_de_compra .Rounded_Rectangle_1 {
  position: relative;
  bottom: 400px;                                                    
}


.Tela_de_compra .Row_5 {
  display: grid;
  grid-template-columns: auto 1% 9% 1% 9% 1% 9% 1% 9% 1% 9% 1% 9% 1% 9% 1% 8% 1% 8%;
  grid-template-rows: auto;
  margin-right: 0%;
  margin-left: 0%;
  min-height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.Tela_de_compra .Button_3 {
  background-color: #333333;
  color: #c7caff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #333333;
  border-radius: 3px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}


.Tela_de_compra .Button_5 {
  background-color: #333333;
  color: #ef0c0c;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #333333;
  border-radius: 3px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}


.Tela_de_compra .Icon_3 {
  color: #333333;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}


.Tela_de_compra .Text_Box_1 {
  background-color: #ffffff;
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 5px;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 7;
}


.Tela_de_compra .Label_9 {
  color: #000000;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 4;
}


.Tela_de_compra .Label_10 {
  color: #000000;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 5;
}


.Tela_de_compra .Icon_4 {
  color: #333333;
  grid-column-start: 10;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 6;
}


.Tela_de_compra .Icon_1 {
  color: #333333;
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 7;
}


.Tela_de_compra .Label {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0px;
  letter-spacing: 0;
  line-height: 1;
  margin-right: 16%;
  margin-left: 6%;
  min-height: 0px;
  margin-top: 4px;
}


.Tela_de_compra .Row_4 {
  display: grid;
  grid-template-columns: auto 2% 1% 1% 6% 5% 4% 1% 5% 2% 13% 1% 5% 1% 1% 9% 3% 3% 12% 4%;
  grid-template-rows: 7% 4% 6% 7% 1% 3% 6% 5% 1% 2% 7% 4% 9% auto 2% 7%;
  margin-right: 18%;
  margin-left: 0%;
  min-height: 280px;
  margin-top: 2px;
}


.Tela_de_compra .Label_3 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 16;
  grid-row-end: 17;
}


.Tela_de_compra .Label_1 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 6;
}


.Tela_de_compra .Label_2 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 10;
}


.Tela_de_compra .Button {
  background-color: #189634;
  color: #ffffff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 3px;
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 14;
  grid-row-end: 15;
}


.Tela_de_compra .Label_5 {
  color: #000000;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 10;
}


.Tela_de_compra .Label_6 {
  color: #000000;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 5;
}


.Tela_de_compra .Icon_2 {
  color: #333333;
  grid-column-start: 12;
  grid-column-end: 16;
  grid-row-start: 14;
  grid-row-end: 15;
}


.Tela_de_compra .Label_7 {
  color: #000000;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 14;
  grid-column-end: 18;
  grid-row-start: 11;
  grid-row-end: 12;
}


.Tela_de_compra .Hamburger_Menu {
  background-color: #ffffff;
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 8px 15px 8px 15px;
  grid-column-start: 15;
  grid-column-end: 17;
  grid-row-start: 2;
  grid-row-end: 7;
}


.Tela_de_compra .Button_1 {
  background-color: #2516d5;
  color: #ffffff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #333333;
  border-radius: 3px;
  grid-column-start: 16;
  grid-column-end: 19;
  grid-row-start: 14;
  grid-row-end: 15;
}


.Tela_de_compra .Text_Box {
  background-color: #ffffff;
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 5px;
  grid-column-start: 18;
  grid-column-end: 20;
  grid-row-start: 9;
  grid-row-end: 13;
}


.Tela_de_compra .Icon {
  color: #333333;
  grid-column-start: 20;
  grid-column-end: 21;
  grid-row-start: 9;
  grid-row-end: 13;
}


.Tela_de_compra .Label_4 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 1;
  margin-right: 0%;
  margin-left: 0%;
  min-height: 42px;
  margin-top: 10px;
  margin-bottom: 386px;
}