body {
  margin:0px;
  font-family:'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
}

div {
  margin:0px;
}

.TelaInicial {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.TelaInicial .Row_20 {
  display: grid;
  grid-template-columns: 0% 4% 24% 2% auto 0% 3% 6% 3% 0%;
  grid-template-rows: auto 11% 29% 2% 0% 10% 3%;
  margin-right: 0%;
  margin-left: 0%;
  min-height: 275px;
  margin-top: 0px;
}


.TelaInicial .Image {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
  height:100%;
  width:100%;
}


.TelaInicial .Menu {
  background-color: #ffffff;
  color: #333333;
  text-align: left;
  font-family: Roboto, " sans-serif";
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 15px 8px 15px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 7;
}


.TelaInicial .Bt_Monitores {
  background-color: #a1a1a1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 8;
}


.TelaInicial .Row_23 {
  display: grid;
  grid-template-columns: 18% auto 18%;
  grid-template-rows: auto 3%;
  margin-right: 47%;
  margin-left: 0%;
  min-height: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.TelaInicial .Bt_Mouse {
  background-color: #333333;
  color: #c7caff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #333333;
  border-radius: 3px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}


.TelaInicial .Bt_Teclados {
  background-color: #333333;
  color: #ef0c0c;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #333333;
  border-radius: 3px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}


.TelaInicial .Text_Box {
  background-color: #ffffff;
  color: #333333;
  text-align: left;
  position: relative;
  left : 500px;
  bottom: 185px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  border-radius: 3px;
  padding: 5px;
}


.TelaInicial .Button_2 {
  position: relative;
  left: 1305px;
  bottom: 240px;
  
}


.TelaInicial .Button_4 {
  background-color: #333333;
  color: #a8e4ab;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #333333;
  border-radius: 3px;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 8;
}


.TelaInicial .Label {
  color: #333333;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
  margin-right: 0%;
  margin-left: 0%;
  min-height: 20px;
  margin-top: 38px;
}


.TelaInicial .Row_21 {
  display: grid;
  grid-template-columns: 0% 4% 8% 7% auto 15px;
  grid-template-rows: 4% 31% auto 20px;
  margin-left: 0%;
  margin-right: -4px;
  min-height: 325px;
  margin-top: 7px;
}


.TelaInicial .Box {
  background-color: #ffffff;
  color: #ef0c0c;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}


.TelaInicial .Row_24 {
  display: grid;
  grid-template-columns: auto 9% auto auto auto auto auto auto auto 9% auto;
  grid-template-rows: auto;
  margin-right: 5%;
  margin-left: 9%;
  min-height: 100px;
  margin-top: 104px;
  margin-bottom: 101px;
}


.TelaInicial .Image_6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height:100%;
  width:100%;
}


.TelaInicial .Image_2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height:100%;
  width:100%;
}


.TelaInicial .Image_3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  height:100%;
  width:100%;
}


.TelaInicial .Image_4 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  height:100%;
  width:100%;
}


.TelaInicial .Image_5 {
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  height:100%;
  width:100%;
}


.TelaInicial .Image_7 {
  grid-column-start: 11;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 2;
  height:100%;
  width:100%;
}


.TelaInicial .Label_8 {
  color: #333333;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
.TelaInicial .Label_20 {
  color: #333333;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  top: 20px;
  left: 550px
}

.TelaInicial .Label_9 {
  color: #333333;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  left: 1350px;
}


.TelaInicial .Label_5 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}


.TelaInicial .Image_1 {
  grid-column-start: 5;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  height:100%;
  width:100%;
}


.TelaInicial .Row_22 {
  display: grid;
  grid-template-columns: 2% 0% 0% 2% 2% 0% 2% 0% auto;
  grid-template-rows: 10% 3% 1% 1% 5% 5% auto;
  margin-left: 0%;
  margin-right: 5px;
  min-height: 305px;
  margin-top: 7px;
  margin-bottom: 27px;
}


.TelaInicial .Box_1 {
  background-color: #ffffff;
  color: #ef0c0c;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 8;
}


.TelaInicial .Row_25 {
  display: grid;
  grid-template-columns: 13% 31% 13% auto 13%;
  grid-template-rows: auto;
  margin-right: 19%;
  margin-left: 20%;
  min-height: 100px;
  margin-top: 100px;
  margin-bottom: 105px;
}


.TelaInicial .Image_8 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height:100%;
  width:100%;
}


.TelaInicial .Image_9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height:100%;
  width:100%;
}


.TelaInicial .Image_10 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  height:100%;
  width:100%;
}


.TelaInicial .Label_6 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}


.TelaInicial .Label_2 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}


.TelaInicial .Label_7 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 7;
}


.TelaInicial .Label_3 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
}


.TelaInicial .Label_4 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 8;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 6;
}


.TelaInicial .Label_1 {
  color: #333333;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0px;
  letter-spacing: 0;
  line-height: 1;
  grid-column-start: 9;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 3;
}


.TelaInicial .Icon_1 {
  color: #333333;
  border-bottom-color: #333333;
  border-top-color: #333333;
  border-left-color: #333333;
  border-right-color: #333333;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  position: fixed;
  width: 3%;
  left: 31%;
  top: 20px;
  height: 40px;
}